<article class="border border-solid border-gray-400 rounded-md overflow-hidden">
  <div class="bg-green-200 pt-4 pb-10 relative">
    <img
      class="max-w-full m-auto mt-4 mb-10"
      src="/images/{{this.image}}.png"
      alt=""
    />
    <div
      class="absolute bottom-4 right-4 bg-blue-400 text-white px-3 py-1 rounded-full"
    >
      {{this.currency}}
      {{this.price}}
      {{#if this.sale}}
        <span>on sale</span>
      {{/if}}
    </div>
  </div>
  <div class="pt-4 pb-2 px-4 flex flex-col gap-y-1">
    <p class="text-xs text-green-400">{{this.duration}}</p>
    <a href="/course/{{this._id}}">
      <h2 class="text-2xl font-bold">{{this.title}}</h2>
    </a>
    <p class="text-base">{{this.description}}</p>
  </div>
</article>